<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>글 보기</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<div class="main" style="background: aquamarine">글보기페이지</div>
<div class="box">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p>
                    <strong><%=post.title%></strong> <small><%=post.writer%></small> <small><%=post.writeDate%></small>
                    <br>
                    <%=post.content%>
                </p>
            </div>
        </div>
    </article>
</div>
<button class="button" onclick="location.href='/api/posts/write/<%=post.postId%>'">수정하기</button>
</body>
</html>